@model IEnumerable<IdentityRole>
@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<div class="container">
    @Html.Partial("adminmenu")
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-body">
                <h4>Roles</h4>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <table class="table table-condensed table-bordered table-bordered">
                <tr><th>ID</th><th>Name</th><th>Users</th><th></th></tr>
                @if (!Model.Any())
                {
                    <tr><td colspan="4" class="text-center">No Roles</td></tr>
                }
                else
                {
                    foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            <td identity-role="@role.Id"></td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                    <a class="btn btn-sm btn-primary" asp-action="Edit"
                                       asp-route-id="@role.Id">Edit</a>
                                    <button type="submit"
                                            class="btn btn-sm btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
            <a class="btn btn-primary" asp-action="Create">Create</a>
        </div>
    </div>
</div>

